//===================================
// Fichier rc pour mingw
//
// Par Asher256 
// Email: contact@asher256.com
//===================================

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "icon.ico"

