//===================================
// Fichier rc pour mingw
//
// Par Asher256 
// Email: asher256@gmail.com
//===================================

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "icon.ico"

